<h2>Redeem</h2>

{{#if pushSuccess}}
  <p class="lead">
    You have successfully redeemed {{btcValue amountWithoutFee}} BTC from escrow
    to the address {{address}}.
  </p>

  <p class="lead">
    Redemption transacion ID is <b>{{hash}}</b>
    <small>(<a {{bind-attr href="blockchainUrl"}}>view</a>)</small>.
    Redemption transaction may take a while to fully confirm.
  </p>

  <a href="#" class="btn btn-primary" {{action 'reset'}}>OK</a>
{{else}}
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="col-lg-7">
          <div class="form-control-static">
            <p>
              To redeem escrow coins, you have to know Transaction ID, have your
              private key, and have a signature of mediator or buyer/seller.
            </p>
          </div>
        </div>
      </div>
    </div>

    {{#validated-input label="Transaction hash" value=inputHash valid=validTx placeholder="Transaction hash" maxlength=64 input-class="form-control"}}
      {{#if view.valid}}
        <span class="help-block">
          Signatures needed: {{input.escrowOut.signaturesNeeded}} (out of {{input.escrowOut.signers.length}} designated signers)
        </span>
      {{/if}}

      {{#if view.focusedInvalid}}
        <span class="has-error">
          <span class="help-block">
            Invalid transaction. It either does not exist or is not confirmed.
          </span>
        </span>
      {{/if}}
    {{/validated-input}}

    <div class="form-group">
      <label class="col-lg-2 control-label">Amount</label>
      <div class="col-lg-10">
        <div class="col-lg-7">
          <p class="form-control-static">
            {{#if amount}}
              {{btcValue amount}} BTC - {{fee}} BTC = <b>{{btcValue amountWithoutFee}}</b> BTC.
              <a href="#" {{action 'openModal' 'help/why-fee'}}>Why the fees?</a>
            {{else}}
              &mdash;
            {{/if}}
          </p>
        </div>
      </div>
    </div>

    {{#validated-input label="Redeem to (address)" value=address valid=validAddress placeholder="Redeem to address" maxlength=34 input-class="form-control"}}
      {{#if view.focusedInvalid}}
        <span class="has-error">
          <span class="help-block">
            Invalid address.
          </span>
        </span>
      {{/if}}
    {{/validated-input}}

    {{#if moreThanOneSig}}
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <div class="col-lg-7">
            <div class="form-control-static">
              <p>
                To complete redemption to {{address}},
                {{#if receiverMerchant}}mediator{{else}}merchant/mediator{{/if}}
                to sign this code:</p>
              <pre>{{requestCode}}</pre>
              <p>Then fill the fields below with your own private key and the signature(s) of others.</p>
            </div>
          </div>
        </div>
      </div>
    {{/if}}

    {{#each signatures}}
      {{#validated-input label=label value=signatureOrKey valid=valid placeholder=placeholder maxlength=160 input-class="form-control"}}
        {{#if view.focusedInvalid}}
          <span class="has-error">
            <span class="help-block">
              Invalid private key or signature.
            </span>
          </span>
        {{/if}}
      {{/validated-input}}
    {{/each}}

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="col-lg-7">
          <a href="#" {{bind-attr class="redeemDisabled:disabled :btn :btn-primary"}} {{action 'redeem'}}>
            {{#if sendingTx}}Redeeming...{{else}}Redeem{{/if}}
          </a>

          {{#if error}}<b>Transaction error: {{error}}</b>{{/if}}
        </div>
      </div>
    </div>
  </form>
{{/if}}
